
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

hr{
    margin: 1rem 0rem;
}

:root{
    --primary-color: purple;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

/** container **/
.container{
    padding: 2rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/** links **/
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.Primary-link{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white
}

.Secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** list **/
.non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/** anv **/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: large;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/** header **/

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding-top: 1rem;
color: var(--dark-gray);
text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);

}

/** section **/
.section{
    padding: 2rem;
}

.section h1{
 text-align: center;
 padding: 2rem;
}

.ow{
    background-color: var(--off-white);
}

/** footers **/
.footer{
     background-color: var(--primary-color);
     padding: 2rem;
     text-align: center;
     color: white;
     border-top-right-radius: 1rem;
 }

 .footer .link{
     color: white;
 }

 .footer .footer-header{
     font-weight: bold;
     font-size: large;
 }

 .project-heading{
     color: var(--dark-gray);
     margin: auto;
     text-align: center;
 }

 .code{
     color: blue;
     
 }